<!-- <div class="container">
  <h2 class="mb-4">My Applied Jobs</h2>
  <div *ngIf="myApplications.length > 0; else noApplications">
    <div class="row" *ngFor="let application of myApplications">
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <span>Application ID: </span>
             <span class="badge bg-light text-primary">{{ application.status }}</span> -->
          <!-- </div>
          <div class="card-body">
            <p><strong>Job Position ID:</strong> {{ application.job_pos_id }}</p>
            <div class="col-md-6">
              <p><strong>Status:</strong>
                <span class="badge" [ngClass]="{
                  'bg-warning': application.status === 'Pending',
                  'bg-success': application.status === 'Accepted',
                  'bg-danger': application.status === 'Rejected'
                }">{{ application.status }}</span>
              </p>
            </div>
            <p><strong>Verified by Manager:</strong> {{ application.verified_by_manager }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noApplications>
    <p>No applications found.</p>
  </ng-template>
</div>

  <router-outlet></router-outlet> --> 



  <div class="container">
   
    
    <div class="row">
      <div class="col-12 mb-4" *ngFor="let application of myApplications; let i = index">
        <div class="card">
          <div class="card" [ngClass]="{'bg-light': i % 2 === 1}"></div>
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <span>Application ID: {{ application.app_id }}</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title">Job Position ID: {{ application.job_pos_id }}</h5>
                <!-- <p class="card-text"><strong>Applied Date:</strong> {{ application.appliedDate | date:'mediumDate' }}</p> -->
              </div>
              <div class="col-md-6">
                <p><strong>Status:</strong>
                  <span class="badge" [ngClass]="{
                    'bg-warning': application.status === 'pending',
                    'bg-success': application.status === 'ACCEPTED',
                    'bg-danger': application.status === 'REJECTED'
                  }">{{ application.status | uppercase}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <!-- Router outlet for any child routes -->
    <router-outlet></router-outlet>
  </div>