div[_ngcontent-ng-c867916248]{
    min-width: 550px;
    max-width: 550px;
}
/* div[_ngcontent-ng-c2651684533][_ngcontent-ng-c2651684533] {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } */