 
<div class="container">
    <!-- <h2 class="mb-4">Accepted Applications</h2> -->
    <div class="row">
      <div class="col-12 mb-4" *ngFor="let app of acceptedApplications">
        <div class="card">
          <div class="card-header bg-success text-white">
            <strong>{{ app.first_name }} {{ app.last_name }}</strong>
          </div>
          <div class="card-body">
            <p><strong>Application ID:</strong> {{ app.app_id }}</p>
            <p><strong>Designation:</strong> {{ app.designation }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 