.button-container {
    margin: 20px;
  }
  
  .btn {
    border: 2px solid #a31932;
    border-radius: 5px;
    padding: 8px 35px;
    background-color: #a31932;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
    border: 2px solid #0056b3;

  }
  